<html>
<head>
  <title>Car Dealership</title>
</head>
<body>

  {% if matching_cars is not empty %}
  <h1>Here are your results:</h1>


  {% for car in matching_cars %}
    <h3>{{ car.getMake}}</h3>
    <ul>
      <li>Price: {{ car.getPrice }}</l1>
      <li>Miles: {{ car.getMiles }}</li>
      <li><img src="{{ car.getPicture}}"></li>
    </ul>
  {% endfor %}

  {% endif %}

  <p>{{ addedcar.getMake }}</p>

</body>
</html>
